<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Pandas_102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os 
path = '/content/drive/My Drive/data_viz'

In [5]:
covid_file_path = os. path.join(path,'pm-20-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/data_viz/pm-20-jan-2021.csv

In [7]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

### HW วนลูป missing .isnull
### ต่อตารางแกน X แกน y
### .groupby
### save table

In [8]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

In [9]:
data_covid.isnull().any() #.any() เอาค่าความจริงภายในเเต่ละ column มา or กัน

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [13]:
data_covid.iloc[0,0].isnull() #ชี้ด้วย .iloc ไม่ได้เพราะ สิ่งที่ตรวจหาต้องหน้าตาเป็น array

AttributeError: ignored

In [15]:
data_covid['No.'][0].isnull() #ชี้ด้วยตัว data ไม่ได้เพราะ สิ่งที่ตรวจหาต้องหน้าตาเป็น array

AttributeError: ignored

In [14]:
data_covid.iloc[0,0]

1

In [12]:
data_covid.iloc[:1,0].isnull() # ใช้ isnull โดยการตัดตาราง

0    False
Name: No., dtype: bool

###HW7 สร้างตารางใหม่ ที่ค่าใน ```sex``` เป็น missing ทั้งหมด
- สรุปว่าทำไม record นั้นๆถึงเป็น missing

# ต่อตารางแกน x แกน y

+ ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
+ ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดข้อมูล)

### ต่อแกน y pd.concat()

In [17]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [18]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [19]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']
dataMS.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [20]:
dataMYisan = pd.concat([dataKK,dataMS,dataUD]) #ต่อตารางด้วย concat
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง

[28 rows x 10 columns]

+ create pandas table
+ .groupby
+ save table

### ต่อแกน X
+ จับ 2 ตารางมาต่อกัน (merge)
+ เลือกมาเฉพาะบาง column (map)

In [23]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12648  12649     1/20/2021            ชลบุรี
12649  12650     1/20/2021             ระยอง
12650  12651     1/20/2021             ระยอง
12651  12652     1/20/2021             ระยอง
12652  12653     1/20/2021               ตาก

[12653 rows x 3 columns]

In [24]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12648  12649  44.0  หญิง    Thailand
12649  12650  52.0  หญิง    Thailand
12650  12651  23.0  หญิง    Thailand
12651  12652  29.0  หญิง    Thailand
12652  12653  22.0  หญิง       Burma

[12653 rows x 4 columns]

### แบบง่าย

In [27]:
full_table = data_human.merge(data_province)# merge ในการรวมตาราง
full_table.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

### ยากขึ้น sort

In [31]:
data_human2 = data_human.sort_values('age')
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
11497  11498  0.11   ชาย       Burma
6477    6478  0.11  หญิง    Thailand
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12635  12636   NaN   NaN    Thailand
12636  12637   NaN   NaN    Thailand
12637  12638   NaN   NaN    Thailand
12638  12639   NaN   NaN    Thailand
12639  12640   NaN   NaN    Thailand

[12653 rows x 4 columns]

In [34]:
full_table2 = data_human2.merge(data_province) # input คือตารางที่จะมาอยู่ด้าานขวา
full_table2.head() # เอามาต่อกัน มันก็ยังเรียงลำดับข้อมูลได้ถูกต้องอยู่

     No.   age   sex nationality announce_date province_of_onset
0   1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1  11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
2   6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
3   1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4   1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี

In [47]:
data_human2_renamed = data_human2.rename(columns = { 'No' : 'patientNumber' })
data_human2_renamed

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
11497  11498  0.11   ชาย       Burma
6477    6478  0.11  หญิง    Thailand
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12635  12636   NaN   NaN    Thailand
12636  12637   NaN   NaN    Thailand
12637  12638   NaN   NaN    Thailand
12638  12639   NaN   NaN    Thailand
12639  12640   NaN   NaN    Thailand

[12653 rows x 4 columns]

In [43]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

KeyError: ignored